.settings__setting {
    padding: 30px 0px;
    border-bottom: 1px solid rgba(0,0,0,0.03);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings__setting span {
    padding-left: 15px;
}

.settings__setting:last-child {
    border-bottom: var(--main-border);
}

.settings__setting-column:last-child {
    opacity: 0.5;
    margin-right: 20px;
}